body{
  text-align: center;
  background-color: black;
  color: white;
}

h1,h2,p,.cta{
  font-family: verdana, sans-serif;
}

h1{
  font-weight: normal;
  font-size: 50px;
}

.cta{
  color: aquamarine;
  font-size: 16px;
}

h2{
  font-weight: 300;
  font-size: 42px;
}

p{
  font-size: 21px;
  color: gray;
}

.app{
  height: 108px;
  width: 64px;
}

video{
  height: 720px;
  width: 404px;
}
